---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kgroup">
  <Nav />
  <main>
		<h1 class="title">Soluciones web para tu negocio</h1>
	</main>
</Layout>
<style>
.title {
	font-size: 4rem;
	max-width: 800px;

}
</style>
