<nav class="nav-container">
  <img src="/kgroup-icon.jpeg" alt="" class="nav-icon" />
  <ul class="nav-list">
    <li><a href="">Services</a></li>
    <li><a href="">Projects</a></li>
    <li><a href="">Contact</a></li>
  </ul>
</nav>
<style>
  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-icon {
    height: 90px;
  }

  .nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .nav-list > li > a {
    color: black;
    text-decoration: none;
    padding: 15px;
  }
  .nav-list > li > a:hover {
    background-color: gainsboro;
  }
</style>
